# Ignore Python virtual environment
myenv/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore IDE settings
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore executables
*.exe
